@import "../../../assets/styles/variables-module.scss";

$value-left-desktop-area: 50%;

.sign-screen {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  .left-area {
    display: none;
    .backgoun-imagem-sign {
      width: 100%;
      height: 420px;
    }
  }
  .right-area {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($surface-default-pressed, Light);
    padding: 0 12px;
  }
}

@media screen and (min-width: $tablet) {
  .sign-screen {
    .right-area {
      width: 100%;
    }
  }
}

@media screen and (min-width: $desktop) {
  .sign-screen {
    flex-direction: row;
    .left-area {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $value-left-desktop-area;
      background-color: map-get($color-background-brand, Light);
    }
    .right-area {
      width: calc(100% - $value-left-desktop-area);
    }
  }
}
