// Neutral Dark/Solid
$neutral-dark-1: #1A202C;
$neutral-dark-2: #656769;
$neutral-dark-3: #E8E8E8;
$neutral-dark-4: #F7FAFC;
$neutral-dark-5: #FFFFFF;

// Primary
$iob-green-0: #1E9E6A;
$iob-green-1: #F3FFF2;

// Secundary
$iob-purple-0: #9E6EFE;
$iob-purple-1: rgba(158, 110, 254, 0.06);

// Neutral Dark/Alpha
$neutral-dark-alpha-1: #262626;
$neutral-dark-alpha-2: #414141;
$neutral-dark-alpha-3: #737373;
$neutral-dark-alpha-4: #FFFFFF;

// Background
$background-dashboard-1: #F3F4F8;
