@import './base-color-tokens.scss';

// Surface/Default
$surface-default: (Light: $neutral-dark-2, Dark: $neutral-dark-1);
$surface-default-hovered: (Light: $neutral-dark-4, Dark: $neutral-dark-3);
$surface-default-pressed: (Light: $neutral-dark-5, Dark: $neutral-dark-4);

// Text
$color-text-primary: (Light: $neutral-dark-alpha-2, Dark: $neutral-dark-alpha-1);
$color-text-secondary: (Light: $neutral-dark-alpha-4, Dark: $neutral-dark-alpha-3);

// Background/Brand
$color-background-brand: (Light: $iob-green-1, Dark: $iob-green-0);
$color-background-dashboad: (Light: $iob-purple-1, Dark: $iob-purple-0);
